* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: hsl(0, 0%, 90%);
  padding: 1rem;
}

main {
  max-width: 600px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
}

p {
  margin: 0 0 1rem 0;
  text-align: left;
  display: block;
  width: 100%;
}

textarea {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 20px;
  position: relative;
  width: 100%;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 6px;
  padding: 0.5rem;
  outline: transparent;
  transition: border-color 0.1s;
  min-height: 120px;
}

textarea:focus {
  border-color: hsl(0, 0%, 60%);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.repo-link {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 44px;
  width: 44px;
}

.repo-link path {
  fill: hsl(0, 0%, 10%);
  cursor: pointer;
  transition: fill 0.1s;
}

.repo-link:hover path {
  fill: hsl(0, 0%, 40%);
}

.marker {
  display: none;
  position: absolute;
  left: calc(var(--x, 0) * 1px);
  top: calc(var(--y, 0) * 1px);
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 98%);
  z-index: 9999;
  padding: 6px;
  border-radius: 4px;
  transform: translate(10px, -25%);
  transition: top 0.1s, left 0.1s;
}

.marker--selection {
  transform: translate(-50%, -120%);
}

/* For debugging purposes */
textarea:focus ~ .marker--basic,
textarea:focus ~ .marker--selection {
  display: block;
}

pre {
  background: hsl(0, 0%, 10%);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: hsl(0, 0%, 98%);
  font-size: 1.5rem;
}

main > * + * {
  margin-top: 2rem;
}